navbar  {
    color: white;
}

body{

background-color:rgb(142, 233, 193);

}


    
#fileinput{

    padding-bottom: 60px;
}

#loginform {

    border: solid .2px; 
    border-color:rgba(233, 173, 9, 0.979);
    padding:10px 5px 5px 5px;
    margin: 0px 30px 0px 0px;
}


